@use "../../vars" as *;

#mainview {
  width: 100%;
  flex-grow: 1;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  .tile-container {
    height: 100%;
    margin: 0 auto;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;

    @media screen and ((max-width: 768px) or (max-aspect-ratio: 3/4)) {
      flex-direction: row;
    }
  }
}
