@use "../../../vars" as *;

.tile {
  width: calc(100% - 3rem); //2 for padding 1 for gap
  height: min-content;
  background-color: $dark_background;
  padding: 1rem;
  position: relative;

  @media screen and ((max-width: 768px) or (max-aspect-ratio: 3/4)) {
    width: 100%;
  }
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 0 0;
  overflow: hidden;
  justify-content: start;
}

.screenshot {
  object-fit: contain;
  border: 1px solid $primary;
  max-height: 10rem;
  max-width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.5rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    .github {
      margin-left: auto;

      img {
        height: 1.5rem;

        transition: 0.1s;

        &:hover {
          filter: brightness(0) saturate(100%) invert(72%) sepia(49%)
            saturate(710%) hue-rotate(340deg) contrast(96%) brightness(102%);
        }
      }
    }
  }

  .link {
    color: $secondary;
  }

  .description {
    white-space: pre-wrap;
  }
}
