@use "vars" as *;

html {
  background: $light_background;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  color: $primary;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media screen and ((max-width: 768px) or (max-aspect-ratio: 3/4)) {
    flex-direction: column-reverse;
  }
}

#contentblocker {
  height: 3.8rem;
  width: 100%;

  @media screen and ((max-width: 768px) or (max-aspect-ratio: 3/4)) {
    height: 3rem;
  }
}
