$primary: #f2f2f2;
$secondary: #fab03d;
$secondary_dark: #f39606;
$secondary_light: #fbbc5a;
$tertiary: #f65cdd;
$dark_background: #101212;
$gray_background: #343838;

$light_background: #202020;

.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
